################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Ticket_System_Implementation/.vs/Ticket_System_Implementation/v16
/Ticket_System_Implementation/Ticket_System_Implementation/obj
